<%if%>
<%= link_to send('friend_requests_path', :friend => id), method: 'post', class: check_status(id) + '_friend' do %>
  <i class="fas fa-user-friends"></i>
  <span><%= check_status(id) %></span>
<%end%>
