<% if current_user.id == @user.id %>
<section class="users-section">
  <ul class="users-list">
    <% @friend.each do |user| %>
     <% unless current_user.id == user.id || check_status(user.id) == 'neutral'%>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        </span>
        <%= render 'friend_btn', id: user.id%>
      </li>
      <% end  %>
    <% end %>
  </ul>
</section>
<% end %>